{% extends "news.html" %}

{% block news %}

<p class="article-date">12-4-2024</p>
<p class="article-title">Kommer som minst; lämnar med vinnst</p>

<hr class="article-hr">
<section class="flex-container">
    <div class="article-text">
        <p>KFSCI23B vinner <i>greklandsresans OS 2024!</i></p>
        <p>Tävlingen visade deras spektakulära förmågor inom idrott, poesi, och allmän utbildning. Även om klassen bestod av ca. 30% färre personer än andra klasser, lyckades KFSCI23B ändå komma på topp (som vanligt).</p>
    </div>

    <div class="article-image-container">
        <img src="/static/images/grekland.jpg" alt="Image" class="article-image">

    </div>
</section>


{% endblock %}
