{% extends "news.html" %}

{% block news %}

<p class="article-date">31-3-2024</p>
<p class="article-title">Skolrekord för skolans historieböcker</p>

<hr class="article-hr">
<section class="flex-container">
    <div class="article-text">
        <p>KFSCI23B krossar alla på skolans korvätartävling!</p>
        <p>Korvslukaren träder upp på scen och använder sina erfarenheter att förtära korv som aldrig förut, utan någon smula kvar på bordet. Med detta sagolika framträdandet, sätter KFSCI23B en ny skolrekord på 1 minut och 16 sekunder.</p>
        <p>Mästaren berättar i efterhand: "Jag skulle inte kunna klara av det utan stödet av resten av klassen. Hade de inte hejat lika intensivt som de gjorde, så skulle jag inte stå här idag."</p>

    </div>

    <div class="article-image-container">
        <img src="/static/images/korvätartävling.jpg" alt="Image" class="article-image">

    </div>
</section>


{% endblock %}
