{% extends "layout.html" %}

{% block title %}: Nyheter{% endblock %}

{% block main %}

<body class="background5">
    <div class="division2 flex-content">

    <section class="border2 container2">
        <a href="/nyheter/grekland" class="no-link ">
            <section class="division3">
                <img src="/static/images/grekland.jpg" alt="Image" class="menu-image">
                <p class="menu-title">Kommer som minst; lämnar med vinnst</p>
            </section>
        </a>

        <hr class="menu-hr">

        <a href="/nyheter/futsalturnering" class="no-link ">
            <section class="division3">
                <img src="/static/images/futsalturnering.jpeg" alt="Image" class="menu-image">
                <p class="menu-title">Dream-team visar dominans första året på skolan</p>
            </section>
        </a>

        <hr class="menu-hr">

        <a href="/nyheter/korvätartävling" class="no-link ">
            <section class="division3">
                <img src="/static/images/korvätartävling.jpg" alt="Image" class="menu-image">
                <p class="menu-title">Skolrekord för skolans historieböcker</p>
            </section>
        </a>
    </section>

    <section class="border1 container3">
        <section class="division4">
            {% block news %}{% endblock %}
        </section>

    </section>

    </div>

</body>




{% endblock %}
