{% extends "layout.html" %}

{% block title %}: Nyheter{% endblock %}

{% block main %}

<body class="background5">
    <div class="division2 border1">

    <a href="/nyheter/grekland" class="no-link">
        <section class="flex-container">
            <section>
                <p class="news-title">Kommer som minst; lämnar med vinnst</p>
                <p class="news-date">12-4-2024</p>
            </section>
            <img src="static/images/grekland.jpg" alt="Image" class="news-image">
        </section>
    </a>
    <hr>
    <a href="/nyheter/korvätartävling" class="no-link">
        <section class="flex-container">
            <section>
                <p class="news-title">Skolrekord för skolans historieböcker</p>
                <p class="news-date">31-3-2024</p>
            </section>
            <img src="static/images/korvätartävling.jpg" alt="Image" class="news-image">
        </section>
    </a>
    <hr>
    <a href="/nyheter/futsalturnering" class="no-link">
        <section class="flex-container">
            <section>
                <p class="news-title">Dream-team visar dominans första året på skolan</p>
                <p class="news-date">12-3-2024</p>
            </section>
            <img src="static/images/futsalturnering.jpeg" alt="Image" class="news-image">
        </section>
    </a>

    </div>
</body>


{% endblock %}
