{% extends "layout.html" %}

{% block title %}: Skoldokument{% endblock %}

{% block main %}

<body class="background8">
    <div class="division6">
        <div class="frame8">
            <p class="docs-header">Skoldokument</p>
        </div>

        <a href="https://docs.google.com/document/d/1qa3R1Vw_KxK4BPf5yAnFVAKVkSjDtkb2pkDYFzNrbd4/edit?usp=sharing" class="no-link ">
            <section class="flex-content frame7 margin-bottom10 center-items">
                <img src="static/images/document_biologi1_1.png" alt="Image" class="docs-image">
                <section class="center-text m-0-auto">
                    <p class="docs-title">Biologi 1 Anteckningar</p>
                    <p class="docs-name">Prov 1 - Biologi 1 - Arian Bartholovich</p>
                </section>
            </section>
        </a>
        <a href="https://docs.google.com/document/d/1of1usn_SVGfI8_UXXb7PTWJ1rTtjZHQGosQ3R4_QVU8/edit?usp=sharing" class="no-link">
            <section class="flex-content frame7 center-items">
                <img src="static/images/document_samhällskunskap1_1.png" alt="Image" class="docs-image">
                <section class="center-text m-0-auto">
                    <p class="docs-title">Samhällskunskap 1 Anteckningar</p>
                    <p class="docs-name">Prov 1 - Samhällskunskap 1b - Arian Bartholovich</p>
                </section>
            </section>
        </a>

    </div>
</body>


{% endblock %}
