{% extends "news.html" %}

{% block news %}

<p class="article-date">12-3-2024</p>
<p class="article-title">Dream-team visar dominans första året på skolan</p>

<hr class="article-hr">
<section class="flex-container">
    <div class="article-text">
        <p>KFSCI23B vinner skolans futsalturnering deras första året på skolan!</p>
        <p>Med 5 slepare på plan, lyckades de få motståndarna att tro att de var fler än så. KFSCI23B utklassar alla andra med deras imponerande snabbhet och teknik. Man får självklart inte heller glömma deras brillianta tränare, som motiverade och ledde klassen till deras seger.</p>
    </div>

    <div class="article-image-container">
        <img src="/static/images/futsalturnering.jpeg" alt="Image" class="article-image">

    </div>
</section>


{% endblock %}
