{% extends "layout.html" %}

{% block title %}: Om-oss{% endblock %}

{% block main %}

<body>

    <section class="division5 background6">
        <section class="center">
            <div class="frame5">
                <p class="header7">Om Oss</p>
            </div>
        </section>


        <section class="flex-container">
            <section class="frame4">
                <p class="text4">Vi är inte bara vilken klass som helst; vi är <i>KFSCI23B</i>, <i>"Kemi & Fysik"</i>-klassen på Europaskolan Strängnäs. Hos oss hittar du en mix av personligheter och intressen. Några av oss drömmer om att spränga atomer, medan andra kämpar för att överleva kemilektionerna. Vi är en klass som alltid håller energin uppe. Oavsett om du hittar oss djupt fokuserade på fysikuppgifter eller fastnade i TikTok-flödet, så är vi alltid redo för nästa utmaning – typ.</p>
            </section>

            <section class="width-300">
                <img src="static/images/classPicture_Normal.jpg" alt="Image" class="image2">
            </section>
        </section>

      </section>

      <section class="division1 background7">

        <section class="flex-container">
            <section>
                <img src="static/images/Jorg-von-Malchus.jpg" alt="Image" class="image3">
            </section>

            <section class="frame6">
                <p class="header8">✨ Våra mentorer ✨</p>
            </section>

            <section>
                <img src="static/images/Karin-Andersson.jpg" alt="Image" class="image3">
            </section>
        </section>

      </section>

    <section class="division1 background2">
        <hr class="hr1">
        <div class="center">
          <img src="static/images/europaskolan_strangnas_logo.jpg" alt="Europaskolan Strängnäs Logo" class="image1">
          <div>
              <h1 class="header4">EUROPASKOLAN STRÄNGNÄS</h1>
              <p class="text1">Europaskolan Strängnäs är en gymnasieskola med internationell profil som erbjuder spetsprogram inom naturvetenskap och samhällskunskap. Skolan betonar akademisk excellens och språkundervisning, och förbereder elever för vidare studier och globala karriärer.</p>
              <p class="text1">Läs vidare på: <a href="https://www.europaskolan.se/">europaskolan.se</a>.</p>
          </div>
        </div>
        <hr class="hr2">
      </section>

</body>

{% endblock %}
