{% extends "layout.html" %}

{% block title %}: Inloggning{% endblock %}

{% block main %}
<body class="background8" >
    <div class="division6 center-text">
        <div class="frame9 ">
            <p class="header9 mb-10">För att få tillgång till skoldokument, vänligen ange lösenordet.</p>
            <form action="/password" method="post">
                <div class="mb-4">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto password-form-control" name="password" placeholder="Lösenord" type="text">
                </div>
                <button class="btn btn-primary mb-5 password-btn" type="submit">Bekräfta</button>
            </form>
        </div>
    </div>



</body>

{% endblock %}
